In [15]:
import pandas as pd
import streamlit as st
import altair as alt

In [68]:
new_reg= pd.read_csv('new_signups.csv')
new_reg['register_date'] = pd.to_datetime(new_reg['register_date'], format='%Y-%m-%d')

ValueError: time data "1/4/2023" at position 0 doesn't match format specified

In [69]:
data2 = new_reg.groupby(['source'])['source'].count().reset_index(name='New Registrations')

In [70]:
data2

      source  New Registrations
0  Affiliate              30084
1     Direct              11940

In [39]:
ftd= pd.read_csv('ftds.csv')

In [55]:
ftd['date'] = pd.to_datetime(ftd['first_deposit_date'], format='%d/%m/%Y %H:%M')

In [56]:
ftd

,project,first_deposit_date,member_login,member_name,remark,status,affiliate_login,affiliate_name,region,market,first_deposit_amount,source,phone_verification_status,risk_status,date
0,Beta,1/4/2023 0:01,piyanuch08,ปิยะนุช ชัยสงคราม,-,A,NaN,BolaKing,Thailand,THB,1000.0,Member,YES,NO,2023-04-01 00:01:00
1,Beta,1/4/2023 0:07,tamilselvy,Tamilselvy Suppiah,-,A,NaN,BolaKing,Malaysia,MYR,50.0,Member,YES,NO,2023-04-01 00:07:00
2,Beta,1/4/2023 0:11,ntpchen170841,ณัฐภัทร กาละศรี,-,A,finixio10,Safe Betting Sites Review Website,Thailand,THB,1000.0,Back Office,YES,NO,2023-04-01 00:11:00
3,Beta,1/4/2023 0:15,caigiak123,NGO VAN HIEU,-,A,sieunhanmol,Nguyễn Trung Dũng,Vietnam,VND,50.0,AffiliateTransfer,YES,NO,2023-04-01 00:15:00
4,Beta,1/4/2023 0:16,eko321,WAHYUDI EKO,-,A,BKMYEXO03,BK8 MY Exoclick 03,Malaysia,MYR,50.0,Member,YES,NO,2023-04-01 00:16:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15097,Alpha,20/4/2023 19:31,jacklim79,LIM SONG JIE,-,A,NaN,96M,Malaysia,MYR,600.0,System,NO,NO,2023-04-20 19:31:00
15098,Alpha,20/4/2023 22:08,suci08,Anta wijaya,-,A,96myos2ga,96myos2ga,Malaysia,MYR,55.0,System,NO,NO,2023-04-20 22:08:00
15099,Alpha,20/4/2023 22:26,yiwen8803,Khoo Yi Wen,-,A,NaN,96M,Malaysia,MYR,300.0,System,NO,NO,2023-04-20 22:26:00
15100,Alpha,20/4/2023 22:54,febrian44,FERBIAN ANAK ALAN SHAPERD,-,A,NaN,96M,Malaysia,MYR,200.0,Back Office,NO,NO,2023-04-20 22:54:00
15101,Alpha,20/4/2023 23:27,yeehui08,Lim Yee Hui,-,A,96myos1ga,96myos1ga,Malaysia,MYR,200.0,System,NO,NO,2023-04-20 23:27:00

In [60]:
ftd['date'] = pd.to_datetime(ftd['date'], format='%Y-%m-%d')

In [64]:
data1 = ftd.groupby(['date'])['first_deposit_amount'].sum().reset_index(name='FTD Amount')

In [65]:
data1

         date  FTD Amount
0  2023-04-01   377910.22
1  2023-04-02   272802.08
2  2023-04-03   332377.14
3  2023-04-04   468735.54
4  2023-04-05   368337.51
5  2023-04-06   435507.80
6  2023-04-07   370923.22
7  2023-04-08   425477.79
8  2023-04-09   444046.08
9  2023-04-10   411954.16
10 2023-04-11   469135.23
11 2023-04-12   361947.67
12 2023-04-13   351865.44
13 2023-04-14   310394.61
14 2023-04-15   288993.38
15 2023-04-16   245277.52
16 2023-04-17   291398.63
17 2023-04-18   322657.43
18 2023-04-19   304644.07
19 2023-04-20   318645.56

In [62]:
ftd

,project,first_deposit_date,member_login,member_name,remark,status,affiliate_login,affiliate_name,region,market,first_deposit_amount,source,phone_verification_status,risk_status,date
0,Beta,1/4/2023 0:01,piyanuch08,ปิยะนุช ชัยสงคราม,-,A,NaN,BolaKing,Thailand,THB,1000.0,Member,YES,NO,2023-04-01
1,Beta,1/4/2023 0:07,tamilselvy,Tamilselvy Suppiah,-,A,NaN,BolaKing,Malaysia,MYR,50.0,Member,YES,NO,2023-04-01
2,Beta,1/4/2023 0:11,ntpchen170841,ณัฐภัทร กาละศรี,-,A,finixio10,Safe Betting Sites Review Website,Thailand,THB,1000.0,Back Office,YES,NO,2023-04-01
3,Beta,1/4/2023 0:15,caigiak123,NGO VAN HIEU,-,A,sieunhanmol,Nguyễn Trung Dũng,Vietnam,VND,50.0,AffiliateTransfer,YES,NO,2023-04-01
4,Beta,1/4/2023 0:16,eko321,WAHYUDI EKO,-,A,BKMYEXO03,BK8 MY Exoclick 03,Malaysia,MYR,50.0,Member,YES,NO,2023-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15097,Alpha,20/4/2023 19:31,jacklim79,LIM SONG JIE,-,A,NaN,96M,Malaysia,MYR,600.0,System,NO,NO,2023-04-20
15098,Alpha,20/4/2023 22:08,suci08,Anta wijaya,-,A,96myos2ga,96myos2ga,Malaysia,MYR,55.0,System,NO,NO,2023-04-20
15099,Alpha,20/4/2023 22:26,yiwen8803,Khoo Yi Wen,-,A,NaN,96M,Malaysia,MYR,300.0,System,NO,NO,2023-04-20
15100,Alpha,20/4/2023 22:54,febrian44,FERBIAN ANAK ALAN SHAPERD,-,A,NaN,96M,Malaysia,MYR,200.0,Back Office,NO,NO,2023-04-20
15101,Alpha,20/4/2023 23:27,yeehui08,Lim Yee Hui,-,A,96myos1ga,96myos1ga,Malaysia,MYR,200.0,System,NO,NO,2023-04-20